<!-- <div class="container card my-3">
     <div class="card-body"></div>
<div class="card-body row">
    <div class="col-md-7">

        <h1 id="title">
            <div style="color: green;" class="heading" #textStatic class="text-static"></div>
            <div #textTyping class="text-typing"></div>
        </h1>

        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been
            the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting,
            remaining essentially unchanged</span><br />

        <button class="btn btn-primary my-3">Hire Me</button>
    </div>
    <div class="col-md-5">
        <img class="img-fluid" src="../../../assets/bike_img.jpg" alt="">
    </div>
</div>
</div> -->
<div class="card bg-light rounded-0">
    <div class="card-body">
        <div class="card-body row">
            <div class="col-md-7">

                <h1 id="title" class="comic-font mb-4">
                    <div class="heading" #textStatic class="text-static"></div>
                    <div #textTyping class="text-typing"></div>
                </h1>

                <span class="comic-font info-body">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                    Lorem Ipsum has
                    been
                    the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make
                    a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting,
                    remaining essentially unchanged</span><br />

                <button class="btn btn-success my-3 py-3 rounded-pill w-25 font-weight-bold">Hire Me</button>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="../../../assets/bike_img.jpg" alt="">
            </div>
        </div>
        <!-- <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>