.container {
    background-color: #df0c2f;
}

.comic-font {
    font-family: "Comic Sans MS", sans-serif;
    /* color: yellow; */
}

.info-body {
    font-size: 1.4rem;
}

.card {
    /* background-color: #343a40 !important; */
    padding: 100px;

}