<div class="intro row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About Me </h5>
                <ul class="list-unstyled">
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor sem</li>
                        <li>Ac tristique libero volutpat at</li>
                    </ul>

                </ul>
                <p class="card-text">Lover of innovation and everything related to generate new knowledge.Face problems
                    with a smile and solve them as soon as possible. Very calculated about the time I spend and work I
                    do.With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basic Information</h5>
                <div class="container">

                    <ul class="list-group">
                        <li class="list-group-item">DATE OF BIRTH : </li>
                        <li class="list-group-item">EMAIL :</li>
                        <li class="list-group-item">PHONE :</li>
                        <li class="list-group-item">ADDRESS :</li>
                        <li class="list-group-item">LANGUAGE :</li>


                    </ul>
                </div>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>