<i class="fa-thin fa-f232"></i>
<div class="projects card rounded-0">
    <div class="card-body">
        <div class="card-body row">
            <div class="col-md-7">
                <h1 id="title">
                    <div class="heading" #textStatic class="text-static">
                        <h1>About Me</h1>
                    </div>
                    <div class="text-typing">
                        <h1 style="color: yellow;">Rohit Pathare</h1>
                    </div>
                </h1>
                <p style="color: white;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque animi dolorum
                    quaerat ex officia
                    natus mollitia libero expedita aspernatur eius neque explicabo tempora vitae doloremque non qui
                    dignissimos, maxime sit!</p>
                <div style="display: flex;">
                    <div>
                        <button class=" mr-5 btn btn-warning my-3 rounded-pill w-65 font-weight-bold"> <i
                                class="fas fa-download"></i> Download
                            CV</button>

                    </div>
                    <div>
                        <button class=" ml-5 btn btn-warning my-3 rounded-pill w-65 font-weight-bold"><i
                                class="fas fa-phone-alt"></i>Contact Me
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <img class="card-img-top" src="..." alt="Card image cap">

                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--icons  https://fontawesome.com/v5/icons/download?f=classic&s=solid -->

<!-- https://fontawesome.com/v5/search?q=download&o=r -->