<div class="p-5">

    <div class="card border-secondary rounded">
        <div class="card-body row mx-3">
            <div class="col col-md-7">
                <div class="h1">About Me</div>

                <div class="">
                    <ul>
                        <li>Software Developer with 2+ years of experience</li>
                        <li>Worked with Software Development Life Cycle(SDLC) and agile methodologies</li>
                        <li>Expertise in Angular 2+ All versions, Javascript, Node JS, Express js, and UI with
                            Responsive Designs</li>
                        <li>Have good understanding of Jquery, Bootstrap, MYSQL</li>
                        <li>I have used both GitHub and GitLab for committing code</li>
                    </ul>
                </div>

                <div class="">
                    I have a deep passion for innovation and a relentless pursuit of knowledge. I approach challenges
                    with a positive attitude and a determination to find solutions swiftly. I am highly conscientious
                    about how I manage my time and approach my work.
                </div>

                <div class="row  my-3">
                    <!-- <button class="btn btn-success my-3">
                    <i class="fa-solid fa-file-arrow-down"></i>&nbsp; Download CV
                </button> -->

                    <table class="table ml-3">
                        <tbody>
                            <tr>
                                <td class="border-0">
                                    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                                </td>
                                <td class="border-0">
                                    <a href="#"><i class="fab fa-github fa-2x"></i></a>
                                </td>
                                <td class="border-0">
                                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                                </td>
                                <td class="border-0">
                                    <a href="#"><i class="fab fa-whatsapp fa-2x"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-success">
                        <i class="fa-solid fa-file-arrow-down"></i>
                        <span>&nbsp; Download CV</span>
                    </button>
                </div>

                <!-- <div class="">
                    <div class="h3 my-3">Follow Me</div>

                    <table class="table icon-table-width">
                        <tbody>
                            <tr>
                                <td class="icon-padding border-0">
                                    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                                </td>
                                <td class="icon-padding border-0">
                                    <a href="#"><i class="fab fa-github fa-2x"></i></a>
                                </td>
                                <td class="icon-padding border-0">
                                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                                </td>
                                <td class="icon-padding border-0">
                                    <a href="#"><i class="fab fa-whatsapp fa-2x"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>

            <div class="col col-md-5">
                <div class="h1">Basic Information</div>
                <!-- <div class="card">
                    <div class="card-body"> -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="font-weight-bold"> Date of Birth : </span>
                        <span class=""> 02 August 1995 </span>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold"> Email : </span>
                        <a class="text-dark" href="mailto:vinayak.vap@gmail.com"> vinayak.vap@gmail.com </a>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold"> Phone : </span>
                        <a class="text-dark" href="tel:+918999910813"> +91 8999910813 </a>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold"> Address : </span>
                        <span> 501, Sai Aradhana Apartments, Mahalunge Gaon, Pune-45 </span>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold"> Languages : </span>
                        <span> English, Hindi, Marathi </span>
                    </li>
                </ul>
                <!-- </div>
                </div> -->

            </div>
        </div>
    </div>

</div>