<div class="p-5 card">
    <!-- <div class="card-body"> -->
    <div class="card-body row">
        <div class="row">
            <div class="col-md-4 p-2">
                <div class="card card-tilt bg-secondary">
                    <img class="card-img-top"
                        src="https://johnstillk8.scusd.edu/sites/main/files/imagecache/carousel/main-images/camera_lense_0.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <a href="#" class="btn btn-secondary pl-3">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="card card-tilt bg-secondary">
                    <img class="card-img-top"
                        src="https://johnstillk8.scusd.edu/sites/main/files/imagecache/carousel/main-images/camera_lense_0.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="card card-tilt bg-secondary">
                    <img class="card-img-top"
                        src="https://johnstillk8.scusd.edu/sites/main/files/imagecache/carousel/main-images/camera_lense_0.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="card card-shake bg-secondary">
                    <img class="card-img-top"
                        src="https://johnstillk8.scusd.edu/sites/main/files/imagecache/carousel/main-images/camera_lense_0.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="card card-shake bg-secondary">
                    <img class="card-img-top"
                        src="https://johnstillk8.scusd.edu/sites/main/files/imagecache/carousel/main-images/camera_lense_0.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="card pulse-card bg-secondary">
                    <img class="card-img-top"
                        src="https://johnstillk8.scusd.edu/sites/main/files/imagecache/carousel/main-images/camera_lense_0.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- </div> -->
</div>