<div class="p-5">
    <div class="h1 mx-3">
        My <span class="text-warning">Projects</span>
    </div>

    <div class="card-body row">
        <div class="col-md-3 mb-4">
            <div class="card card-tilt bg-secondary">
                <img class="card-img-top"
                    src="https://img.freepik.com/premium-photo/boy-programming-room-rendered-3d-style_870512-143.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <div class="d-flex justify-content-end">
                        <a href="#" class="btn btn-primary">
                            <i class="fa-solid fa-code"></i>
                            <span>&nbsp; Source Code </span>
                        </a>
                        <a href="#" class="btn btn-dark ml-1">
                            <i class="fa-solid fa-window-restore"></i>
                            <span>&nbsp; View Demo </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card card-tilt bg-secondary">
                <img class="card-img-top"
                    src="https://img.freepik.com/premium-photo/boy-programming-room-rendered-3d-style_870512-143.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <div class="d-flex justify-content-end">
                        <a href="#" class="btn btn-primary">
                            <i class="fa-solid fa-code"></i> Source Code
                        </a>
                        <a href="#" class="btn btn-dark ml-1">
                            <i class="fa-solid fa-window-restore"></i> View Demo
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card card-tilt bg-secondary">
                <img class="card-img-top"
                    src="https://img.freepik.com/premium-photo/boy-programming-room-rendered-3d-style_870512-143.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-primary">
                                <i class="fa-solid fa-code"></i> Source Code
                            </a>
                            <a href="#" class="btn btn-dark ml-1">
                                <i class="fa-solid fa-window-restore"></i> View Demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card card-tilt bg-secondary">
                <img class="card-img-top"
                    src="https://img.freepik.com/premium-photo/boy-programming-room-rendered-3d-style_870512-143.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-primary">
                                <i class="fa-solid fa-code"></i> Source Code
                            </a>
                            <a href="#" class="btn btn-dark ml-1">
                                <i class="fa-solid fa-window-restore"></i> View Demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card card-shake bg-secondary">
                <img class="card-img-top"
                    src="https://img.freepik.com/premium-photo/boy-programming-room-rendered-3d-style_870512-143.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-primary">
                                <i class="fa-solid fa-code"></i> Source Code
                            </a>
                            <a href="#" class="btn btn-dark ml-1">
                                <i class="fa-solid fa-window-restore"></i> View Demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card card-shake bg-secondary">
                <img class="card-img-top"
                    src="https://img.freepik.com/premium-photo/boy-programming-room-rendered-3d-style_870512-143.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-primary">
                                <i class="fa-solid fa-code"></i> Source Code
                            </a>
                            <a href="#" class="btn btn-dark ml-1">
                                <i class="fa-solid fa-window-restore"></i> View Demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card pulse-card bg-secondary">
                <img class="card-img-top"
                    src="https://img.freepik.com/premium-photo/boy-programming-room-rendered-3d-style_870512-143.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-primary">
                                <i class="fa-solid fa-code"></i> Source Code
                            </a>
                            <a href="#" class="btn btn-dark ml-1">
                                <i class="fa-solid fa-window-restore"></i> View Demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card pulse-card bg-secondary">
                <img class="card-img-top"
                    src="https://img.freepik.com/premium-photo/boy-programming-room-rendered-3d-style_870512-143.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-primary">
                                <i class="fa-solid fa-code"></i> Source Code
                            </a>
                            <a href="#" class="btn btn-dark ml-1">
                                <i class="fa-solid fa-window-restore"></i> View Demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>