<!-- <i class="fa-thin fa-f232"></i> -->
<div class="projects card rounded-0">
    <div class="card-body">
        <div class="card-body row">
            <!-- <div class="col-md-7">
                <h1 id="title">
                    <div class="heading" #textStatic class="text-static">
                        <h1>My Awasome</h1>
                    </div>
                    <div class="text-typing">
                        <h1 style="color: yellow;">Projects</h1>
                    </div>
                </h1>
                <p style="color: white;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque animi dolorum
                    quaerat ex officia
                    natus mollitia libero expedita aspernatur eius neque explicabo tempora vitae doloremque non qui
                    dignissimos, maxime sit!</p>
                <button class="btn btn-warning my-3 rounded-pill w-65 font-weight-bold">Download CV</button>
            </div>
            <div class="col-md-5">
                <div class="card text-center borderless-card">
                    <div class="card-body">
                        <i class="fa-regular fa-house"></i>
                        <h5 class="card-title">Commercial Website</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, odio
                            dolorum corporis, perferendis, similique blanditiis quasi quo nulla commodi nisi fugit
                            supporting text below as a natural lead-in to additional content.</p>
                        <button type="button" class="btn btn-outline-light rounded-pill w-50">Preview 1</button>

                    </div>
                </div>
            </div> -->
            <div class="card-deck mt-5 p-5">
                <div class="card text-center borderless-card card-shake">
                    <i class="fa-regular fa-house"></i>
                    <div class="card-body">
                        <h5 class="card-title">Room Booking</h5>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nisi
                            deserunt vel cupiditate eaque excepturi qui? Saepe mollitia ut iste aliquid aperiam,
                            additional content. This content is a little bit longer.</p>
                        <button type="button" class="btn btn-outline-light rounded-pill w-50">Preview 2</button>
                    </div>
                </div>
                <div class="card text-center borderless-card card-shake">
                    <i class="fa-regular fa-house"></i>
                    <div class="card-body">
                        <h5 class="card-title">Krishi Agro</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum maiores
                            laudantium eum quae quas. Fugit voluptatem quae beatae vero perferendis, a inventore aperiam
                            content.</p>
                        <button type="button" class="btn btn-outline-light rounded-pill w-50">Preview 3</button>

                    </div>
                </div>
                <div class="card text-center borderless-card bg-secondary card-shake">
                    <i class="fa-regular fa-house"></i>
                    <div class="card-body">
                        <h5 class="card-title">Weather App</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ut
                            architecto laborum accusantium? Quibusdam aspernatur consequatur velit sapiente, dolorem
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                        <button type="button" class="btn btn-outline-light rounded-pill w-50">Preview 4</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="card bg-secondary">
                        <img class="card-img-top" src="https://johnstillk8.scusd.edu/post/image-dimensions"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-secondary">
                        <img class="card-img-top" src="https://johnstillk8.scusd.edu/post/image-dimensions"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-secondary">
                        <img class="card-img-top" src="https://johnstillk8.scusd.edu/post/image-dimensions"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>