#title {
  font-family: "Comic Sans MS", sans-serif;
  color: yellow;
}

.borderless-card {
  background-color: #0c0c0b10 !important;
}

.card-deck {
  margin-top: 10px;
}

/*************************************************/
/*              Blur Effect                      */
/*************************************************/

.blur-cards {
  flex-wrap: wrap;
}

.blur-cards .blur-card {
  transition: all ease-out 0.5s;
}

.blur-cards:hover .blur-card {
  filter: blur(15px);
  transform: scale(1);
  opacity: 0.5;
}

.blur-cards .blur-card:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
}

/*************************************************/
/*        Button Expand Effect                   */
/*************************************************/

a span {
  max-width: 0;
  -webkit-transition: max-width 0.7s;
  transition: max-width 0.7s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

a:hover span {
  max-width: 7rem;
}