.projects{
    background-color:  #343a40!important;
    padding: 100px;
}
#title{
    font-family: "Comic Sans MS",sans-serif;
    color: yellow;
}
.borderless-card {
    background-color:  #0c0c0b10!important;
  }
  .card-title{
    color: yellow !important;
  }
  .card-deck{
    margin-top: 10px;
  }