#title {
  font-family: "Comic Sans MS", sans-serif;
  color: yellow;
}

.borderless-card {
  background-color: #0c0c0b10 !important;
}

.card-deck {
  margin-top: 10px;
}

a span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

a:hover span {
  max-width: 7rem;
}

/*************************************************/
/* Shake Effect */
/*************************************************/
.card-shake:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*************************************************/
/* Tilt Effect */
/*************************************************/
.card-tilt {
  transition: transform 0.25s ease-in-out;
}

.card-tilt:hover {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(2deg);
  /* Adjust the rotation values for the desired tilt effect */
}

/*************************************************/
/* Pulse Effect */
/*************************************************/
.pulse-card:hover {
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}